:root {
  --hue: 300;
  --background: hsl(var(--hue), 80%, 50%);
  --hero-font-size: 3rem;
  --hero-font-color: white;
  --hero-font-family: 'Helvetica', Geneva, Tahoma, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--hero-font-family);
}

#analysis {
  background-color: var(--background);
  transition: background-color 1s;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  color: var(--hero-font-color);
}

.progress {
  display: flex;
  align-items: center;
}

p.hero {
  margin: 0;
  font-size: var(--hero-font-size);
  font-family: var(--hero-font-family);
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

form {
  /* display: inline; */
  max-width: 100%;
}

#subreddit {
  display: flex;
  margin: 0 auto;
  max-width: 1100px;
}

#search {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 4px;
  background: transparent;
  font-size: var(--hero-font-size);
  border-bottom-color: var(--hero-font-color);
  color: var(--hero-font-color);
  font-family: var(--hero-font-family);
  width: 100%;
}

#search::placeholder {
  color: white;
  opacity: 0.8;
  font-style: italic;
}

#searchButton {
  border-top-width: 0;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 4px;
  background: transparent;
  font-size: var(--hero-font-size);
  border-color: var(--hero-font-color);
  color: var(--hero-font-color);
  font-family: var(--hero-font-family);
  border-style: solid;
}

.searchButton--isLoading {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@media screen and (min-width: 768px) {
  :root {
    --hero-font-size: 5rem;
    --search-width: 80vw;
    --search-button-width: 96px;
  }
}

@media screen and (min-width: 1100px) {
  :root {
    --hero-font-size: 8rem;
    --search-width: 65vw;
    --search-button-width: 144px;
  }
}

.links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.links li + li {
  margin-left: 1rem;
}

.links a {
  color: var(--hero-font-color);
}

section.content {
  max-width: 40em;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@media screen and (min-width: 768px) {
  section.content {
    padding: 3rem 3rem;
  }
}

@media screen and (min-width: 1100px) {
  section.content {
    padding: 3rem 3rem;
  }
}

#explanation tr:nth-child(odd) {
  background: #ccc;
}
